<app-navbar></app-navbar>

<div class="container main-container">
  <h1>Demos <small>Angular</small></h1>
  <hr>

  <!-- <app-ng-style></app-ng-style>
  <hr style="margin-bottom: 30px;">

  <app-css></app-css>
  <p>
    Hola mundo desde al app.component.html
  </p>
  <hr style="margin-bottom: 30px;"> -->

  <!-- <app-clases></app-clases>
  <hr style="margin-bottom: 30px;"> -->
  

  <!-- <p [appResaltado]="'orange'">
    Hola mundo
  </p>
  <hr style="margin-bottom: 30px;"> -->

  <!-- <app-ng-switch></app-ng-switch> -->


  <router-outlet></router-outlet>

</div>