<h4>Formularios <small>data</small></h4>
<hr>
<form [formGroup]="forma" (ngSubmit)="guardarCambios()">

  <div formGroupName="nombreCompleto">

    <div class="form-group row" [ngClass]="{ 'has-danger' : forma.get('nombreCompleto.nombre').invalid }">
      <label class="col-2 col-form-label">Nombre</label>
      <div class="col-8">

        <input 
        formControlName="nombre"
        class="form-control" type="text" placeholder="Nombre">
        <div 
          *ngIf="forma.get('nombreCompleto.nombre').errors?.required"
          class="form-control-feedback">
          El nombre es requerido.
        </div>
        <div 
          *ngIf="forma.get('nombreCompleto.nombre').errors?.minlength" 
          class="form-control-feedback">
          El nombre debe tener mínimo 4 caracteres.
        </div>
      </div>      
    </div>

    <div class="form-group row" [ngClass]="{ 'has-danger' : forma.get('nombreCompleto.apellido').invalid }">
      <label class="col-2 col-form-label">Apellido</label>
      <div class="col-8">

        <input 
        formControlName="apellido"
        class="form-control" type="text" placeholder="Apellido">
        <div 
        *ngIf="forma.get('nombreCompleto.apellido').errors?.required"
        class="form-control-feedback">
          El apellido es requerido.
        </div>
        <div 
        *ngIf="forma.get('nombreCompleto.apellido').errors?.noLizama" 
        class="form-control-feedback">
          El apellido "lizama" no es permitido.
        </div>
      </div>
    </div>

  </div>

  <div class="form-group row" [ngClass]="{ 'has-danger' : forma.get('correo').invalid }">
    <label class="col-2 col-form-label">Correo</label>
    <div class="col-md-8">

      <input 
      formControlName="correo"
      class="form-control" type="email" placeholder="Correo electrónico">

      <div 
      *ngIf="forma.controls['correo'].errors?.required"
      class="form-control-feedback">
        Este campo es requerido.
      </div>
      <div 
      *ngIf="forma.controls['correo'].errors?.pattern"
      class="form-control-feedback">
        Este campo no tiene el formato requerido.
      </div>
    </div>
  </div>


  <div class="form-group row" >
    <label class="col-2 col-form-label">Pasatiempos</label>
    <div class="col-md-8" formArrayName="pasatiempos">
  
        <input 
        *ngFor="let pasatiempo of forma.controls['pasatiempos'].controls; let i = index"
        [formControlName]="i"
        type="text" class="form-control mb-1">
      
    </div>
    <button (click)="agregarPasatiempo()" 
    type="button" class="btn btn-primary">Nuevo</button>
  </div>


  <div class="form-group row" [ngClass]="{ 'has-danger' : forma.get('password1').invalid }">
    <label class="col-2 col-form-label">password1</label>
    <div class="col-8">
  
      <input formControlName="password1" class="form-control" type="text" placeholder="password1">
      <div *ngIf="forma.get('password1').errors?.required" class="form-control-feedback">
        El password1 es requerido.
      </div>
    </div>
  </div>


  <div class="form-group row" [ngClass]="{ 'has-danger' : forma.get('password2').invalid }">
    <label class="col-2 col-form-label">password2</label>
    <div class="col-8">
  
      <input formControlName="password2" class="form-control" type="text" placeholder="password2">
      <div *ngIf="forma.get('password2').errors?.required" class="form-control-feedback">
        El password2 es requerido.
      </div>
      <div *ngIf="forma.get('password2').errors?.compararContrasena" class="form-control-feedback">
        Las contraseñas deben ser iguales.
      </div>
    </div>
  </div>


  <div class="form-group row" [ngClass]="{ 'has-danger' : forma.get('username').invalid }">
    <label class="col-2 col-form-label">username</label>
    <div class="col-8">
  
      <input formControlName="username" class="form-control" type="text" placeholder="username">
      <div *ngIf="forma.get('username').errors?.required" class="form-control-feedback">
        El nombre es requerido.
      </div>
      <div *ngIf="forma.get('username').errors?.existeUsuario" class="form-control-feedback">
        El usuario ya existe.
      </div>
    </div>
  </div>


  <div class="form-group row">
    <label class="col-2 col-form-label">&nbsp;</label>
    <div class="input-group col-md-8">
      <button type="submit" class="btn btn-outline-primary mr-3">
        Guardar
      </button>

      <button (click)="resetFormulario()" type="button" class="btn btn-outline-danger">
        Reset
      </button>
    </div>
  </div>

</form>

<pre>
  Valido: {{ forma.valid }}
  <br>
  Status: {{ forma.status }}
</pre>