<div class="container mt-4 mb-5">
  <div class="row mb-3">
    <div class="col-12">
      <h5>Buscar:</h5>
      <input
      (keyup.enter)="buscar()"
      [(ngModel)]="texto"
      type="search" name="texto" id="texto" class="form-control" placeholder="Buscar película" autofocus>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <div class="card-columns">

        <div
        *ngFor="let pel of _ps.peliculas"
        class="card">
          <img [src]="pel.backdrop_path | imagen:300" class="card-img-top">
          <div class="card-body">
            <h5 class="card-title">{{ pel.title }}</h5>
            <p class="card-text">{{ pel.overview.substring(0, 200) }}...</p>
            <div>
              <a
              [routerLink]="['/detalle', pel.id, 'buscar', texto]"
              class="btn btn-outline-primary btn-block">Ver más</a>
            </div>
          </div>
        </div>   

      </div>
    </div>
  </div>
</div>